body {
  background-color: #faeedc;
  background-image: url("blossom.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top left;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5em;
}

.container {
  margin: 50px auto;
  max-width: 70%;
  padding: 2rem;
  border: 1px solid #e2d4c7;
  background-color: #faf8f5db;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

header {
  margin-bottom: 30px;
}
h1,
h2 {
  color: #2e2e2e;
  font-weight: 700;
}
.form-container {
  background-color: rgba(250, 248, 245, 0.95);
  backdrop-filter: blur(2px);
  border: 1px solid #e2d4c7;
  border-radius: 8px;
  padding: 20px 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.instructions {
  background-color: #fdfbf6;
  border: 1px solid #e2d4c7;
  border-radius: 6px;
  padding: 12px;
  flex: 3;
  width: 100%;
  font-size: 1rem;
  color: #2e2e2e;
}

.submit-button {
  margin-left: 10px;
  background-color: #f9c5d1;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
  transition: ease-in-out 0.3s;
}
.submit-button:hover {
  background-color: #a8c6a8;
}

input,
select {
  outline: none;
  background-color: #f9c5d163;
}

.poem {
  margin-top: 2rem;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.6;
  padding: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 4rem;
  padding: 2rem 1rem;
  line-height: 1.5;
}

footer a {
  display: inline-block;
  margin: 0.25rem;
  color: #cf1742;
  font-size: 14px;
}

footer a:hover {
  color: #698769;
}

.loader {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (min-width: 600px) {
  form {
    flex-direction: row;
    align-items: center;
  }

  .instructions {
    flex: 3;
  }

  .submit-button {
    flex: 1;
  }
}
